<ul>
  {
    Astro.locals.starlightViewModes.modes.slice(0, 5).map((mode) => (
      <li>
        <a href={mode.href} view-modes-ignore>
          {mode.title}
        </a>
      </li>
    ))
  }
</ul>
