body:has(.starlight-view-modes-zen-mode-sidebar-table-of-contents-footer)
  header.header {
  display: none;
}
body:has(.starlight-view-modes-zen-mode-sidebar-table-of-contents-footer) nav {
  top: 0;
}
body:has(.starlight-view-modes-zen-mode-sidebar-table-of-contents-footer)
  .sidebar-pane {
  inset-block-start: 0;
}
