@layer starlight, zen-mode-table-of-contents;

@layer zen-mode-table-of-contents {
  body:has(.starlight-view-modes-zen-mode-table-of-contents) header.header {
    display: none;
  }
  body:has(.starlight-view-modes-zen-mode-table-of-contents) nav {
    top: 0;
    inset-inline-start: 0;
  }
  @media (min-width: 50rem) {
    body:has(.starlight-view-modes-zen-mode-table-of-contents)
      #starlight__sidebar {
      display: none;
    }
  }
  body:has(.starlight-view-modes-zen-mode-table-of-contents) footer {
    display: none;
  }

  body:has(.starlight-view-modes-zen-mode-table-of-contents):has(
      #starlight__sidebar
    )
    main {
    width: 100vw;
  }
  @media (min-width: 72rem) {
    body:has(.starlight-view-modes-zen-mode-table-of-contents):has(
        #starlight__sidebar
      )
      main {
      width: calc(
        100vw -
          (
            var(--sl-sidebar-width) +
              (100vw - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
          )
      );
    }
  }
  body:has(.starlight-view-modes-zen-mode-table-of-contents):has(
      #starlight__sidebar
    )
    .main-frame {
    padding-inline: 0;
  }
}
