name: autofix.ci
on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read

env:
  NODE_VERSION: 24.10.0

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm i

      - name: Run prettier
        run: pnpm exec prettier . --write

      # Optimize all PNGs with https://pngquant.org/
      - run: sudo apt-get update && sudo apt-get install -y pngquant
      - name: Run pngquant
        run: |
          shopt -s globstar
          find . -name '*.png' -exec pngquant --ext .png 256 {} \;

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
